body{
    background-color: rgb(238, 140, 13);
    text-align: center;
      font-family: "Libre Baskerville", serif;
    font-size: 20px;
}
img{
    width: 500px;
    height: 400px;
    border: 5px solid black;
    margin-top: 50px;
    border-radius: 15px;
}